<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>353670401198-gv57918er42vo8du36c4kerrgrr2cq8f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.353670401198-gv57918er42vo8du36c4kerrgrr2cq8f</string>
	<key>API_KEY</key>
	<string>AIzaSyAa0s1BKwVaU4w0MnSAbsqpyyvnKX3lM_c</string>
	<key>GCM_SENDER_ID</key>
	<string>353670401198</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>warda.99</string>
	<key>PROJECT_ID</key>
	<string>gogroccery</string>
	<key>STORAGE_BUCKET</key>
	<string>gogroccery.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:353670401198:ios:e18a4fb8ea818aca34313f</string>
	<key>DATABASE_URL</key>
	<string>https://gogroccery.firebaseio.com</string>
</dict>
</plist>